
<div class="header">
  <div class="block"><span class="title">Основные</span>
    <div class="buttons">
      <button ngx-button ngx-button-type="flat" ngx-button-form="basic" ngx-button-size="normal" ngx-button-color="primary" (click)="demo.toggleType()">Изменить тип</button>
      <button ngx-button ngx-button-type="flat" ngx-button-form="basic" ngx-button-size="normal" ngx-button-color="primary" (click)="demo.toggleSize()">Изменить размер</button>
      <button ngx-button ngx-button-type="flat" ngx-button-form="basic" ngx-button-size="normal" ngx-button-color="primary" (click)="demo.toggleForm()">Изменить форму</button>
    </div>
  </div>
  <div class="block"><span class="title">Дополнительные</span>
    <div class="buttons">
      <button ngx-button ngx-button-type="flat" ngx-button-form="basic" ngx-button-size="normal" ngx-button-color="primary" (click)="demo.toggleCustom()">Изменить цвет</button>
      <button ngx-button ngx-button-type="flat" ngx-button-form="basic" ngx-button-size="normal" ngx-button-color="primary" (click)="demo.toggleHoverType()">Изменить эффект наведения</button>
      <button ngx-button ngx-button-type="flat" ngx-button-form="basic" ngx-button-size="normal" ngx-button-color="primary" (click)="demo.toggleText()">Изменить цвет текста</button>
    </div>
  </div>
</div>
