:root {
  --basic: #dddddd;
  --primary: #3f80ea;
  --secondary: #495057;
  --help: #7040c0;
  --success: #4bbf73;
  --wait: #ffdd44;
  --accept: #ccff33;
  --info: #1f9bcf;
  --warn: #e5a54b;
  --danger: #82322f;
  --error: #d9534f;

  --basic-hover: #dddddd;
  --primary-hover: #1d69e6;
  --secondary-hover: #383d42;
  --help-hover: #6633bb;
  --success-hover: #3ca861;
  --wait-hover: #ffd740;
  --accept-hover: #99cc00;
  --info-hover: #1a82ae;
  --warn-hover: #e0942a;
  --danger-hover: #72221f;
  --error-hover: #d23430;

  --basic-shadow: 0 0 0 3px rgba(0,0,0,.2);
  --primary-shadow: 0 0 0 3px rgba(92,147,237, .5);
  --secondary-shadow: 0 0 0 3px rgba(100,106,112,.5);
  --help-shadow: 0 0 0 3px rgb(128, 80, 208, .5);
  --success-shadow: 0 0 0 3px rgba(102,201,136,.5);
  --wait-shadow: 0 0 0 3px rgb(255, 230, 90, .5);
  --accept-shadow: 0 0 0 3px rgba(204, 255, 51, .5);
  --info-shadow: 0 0 0 3px rgba(65,170,214,.5);
  --warn-shadow: 0 0 0 3px rgba(200,146,70,.5);
  --danger-shadow: 0 0 0 3px rgb(146, 66, 63, .5);
  --error-shadow: 0 0 0 3px rgba(223,109,105,.5);

  --basic-disabled: #dddddd;
  --primary-disabled: #83adf1;
  --secondary-disabled: #898e92;
  --help-disabled: #aa7df3;
  --success-disabled: #8bd6a4;
  --wait-disabled: #ffee90;
  --accept-disabled: #d5f76e;
  --info-disabled: #6ebee0;
  --warn-disabled: #eec58b;
  --danger-disabled: #a2524f;
  --error-disabled: #e6908d;

  --disabled-defoult: #aaaaaa;



  --custom-basic: #b3b3b3;
  --custom-primary: #0080ff;
  --custom-secondary: #4d4d4d;
  --custom-help: #bf00ff;
  --custom-success: #00ff00;
  --custom-wait: #ffff33;
  --custom-accept: #00ffff;
  --custom-info: #0080ff;
  --custom-warn: #ff8000;
  --custom-danger: #ff4000;
  --custom-error: #ff4000;

  --custom-basic-hover: #999999;
  --custom-primary-hover: #0066cc;
  --custom-secondary-hover: #333333;
  --custom-help-hover: #9900cc;
  --custom-success-hover: #00cc00;
  --custom-wait-hover: #ffff00;
  --custom-accept-hover: #00cccc;
  --custom-info-hover: #0066cc;
  --custom-warn-hover: #cc6600;
  --custom-danger-hover: #cc3300;
  --custom-error-hover: #cc0000;

  --custom-basic-shadow: 0 0 0 3px rgba(153, 153, 153, .5);
  --custom-primary-shadow: 0 0 0 3px rgba(0, 102, 204, .5);
  --custom-secondary-shadow: 0 0 0 3px rgba(51, 51, 51, .5);
  --custom-help-shadow: 0 0 0 3px rgba(153, 0, 204, .5);
  --custom-success-shadow: 0 0 0 3px rgba(0, 255, 0, .5);
  --custom-wait-shadow: 0 0 0 3px rgba(255, 255, 0, .5);
  --custom-accept-shadow: 0 0 0 3px rgba(0, 255, 255, .5);
  --custom-info-shadow: 0 0 0 3px rgba(0, 102, 204, .5);
  --custom-warn-shadow: 0 0 0 3px rgba(204, 102, 0, .5);
  --custom-danger-shadow: 0 0 0 3px rgba(204, 51, 0, .5);
  --custom-error-shadow: 0 0 0 3px rgba(204, 0, 0, .5);

  --custom-basic-disabled: #cccccc;
  --custom-primary-disabled: #3399ff;
  --custom-secondary-disabled: #666666;
  --custom-help-disabled: #cc33ff;
  --custom-success-disabled: #6ef76e;
  --custom-wait-disabled: #f0f075;
  --custom-accept-disabled: #6ef7f7;
  --custom-info-disabled: #3399ff;
  --custom-warn-disabled: #ffb366;
  --custom-danger-disabled: #ff8c66;
  --custom-error-disabled: #f76e6e;

  --custom-disabled-defoult: #aaaaaa;
}
