<section>

  <button ngx-button (click)="click()" basic>basic</button>
  <button ngx-button (click)="click()" primary>primary</button>
  <button ngx-button (click)="click()" secondary>secondary</button>
  <button ngx-button (click)="click()" success>success</button>
  <button ngx-button (click)="click()" danger>danger</button>
  <button ngx-button (click)="click()" warning>warning</button>
  <button ngx-button (click)="click()" info>info</button>

</section>
<section>

  <button ngx-button (click)="click()" disabled basic>basic</button>
  <button ngx-button (click)="click()" disabled primary>primary</button>
  <button ngx-button (click)="click()" disabled secondary>secondary</button>
  <button ngx-button (click)="click()" disabled success>success</button>
  <button ngx-button (click)="click()" disabled danger>danger</button>
  <button ngx-button (click)="click()" disabled warning>warning</button>
  <button ngx-button (click)="click()" disabled info>info</button>

</section>
<section>

  <button ngx-button (click)="click()" round basic>basic</button>
  <button ngx-button (click)="click()" round primary>primary</button>
  <button ngx-button (click)="click()" round secondary>secondary</button>
  <button ngx-button (click)="click()" round success>success</button>
  <button ngx-button (click)="click()" round danger>danger</button>
  <button ngx-button (click)="click()" round warning>warning</button>
  <button ngx-button (click)="click()" round info>info</button>

</section>
<section>

  <button ngx-button (click)="click()" disabled round basic>basic</button>
  <button ngx-button (click)="click()" disabled round primary>primary</button>
  <button ngx-button (click)="click()" disabled round secondary>secondary</button>
  <button ngx-button (click)="click()" disabled round success>success</button>
  <button ngx-button (click)="click()" disabled round danger>danger</button>
  <button ngx-button (click)="click()" disabled round warning>warning</button>
  <button ngx-button (click)="click()" disabled round info>info</button>

</section>
<section>

  <button ngx-button (click)="click()" square basic>basic</button>
  <button ngx-button (click)="click()" square primary>primary</button>
  <button ngx-button (click)="click()" square secondary>secondary</button>
  <button ngx-button (click)="click()" square success>success</button>
  <button ngx-button (click)="click()" square danger>danger</button>
  <button ngx-button (click)="click()" square warning>warning</button>
  <button ngx-button (click)="click()" square info>info</button>

</section>
<section>

  <button ngx-button (click)="click()" disabled square basic>basic</button>
  <button ngx-button (click)="click()" disabled square primary>primary</button>
  <button ngx-button (click)="click()" disabled square secondary>secondary</button>
  <button ngx-button (click)="click()" disabled square success>success</button>
  <button ngx-button (click)="click()" disabled square danger>danger</button>
  <button ngx-button (click)="click()" disabled square warning>warning</button>
  <button ngx-button (click)="click()" disabled square info>info</button>

</section>
