//- type NgxButtonColor = 'basic' | 'primary' | 'secondary' | 'success' | 'danger' | 'warning' | 'info';
//- type NgxButtonForm = 'basic' | 'round' | 'square';
//- type NgxButtonSize = 'small' | 'normal' | 'large';
//- type NgxButtonType = 'basic' | 'line' | 'flat' | 'raised';

//- readonly STANDARD_COLORS: Array<NgxButtonColor> = [
//-   'basic',
//-   'primary',
//-   'secondary',
//-   'success',
//-   'danger',
//-   'warning',
//-   'info',
//- ]

//- readonly STANDARD_FORMS: Array<NgxButtonForm> = [
//-   'basic',
//-   'round',
//-   'square',
//- ]

//- readonly STANDARD_SIZES: Array<NgxButtonSize> = [
//-   'small',
//-   'normal',
//-   'large',
//- ]

//- readonly STANDARD_TYPES: Array<NgxButtonType> = [
//-   'basic',
//-   'line',
//-   'flat',
//-   'raised',
