<section>

  <button ngx-button ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="round" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="round" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonForm="round" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="square" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="square" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonForm="square" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
