<section>

  <button ngx-button ngxButtonSize="small" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="small" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonSize="small" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="round" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonSize="small" ngxButtonForm="square" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="normal" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="normal" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonSize="normal" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="normal" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="normal" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="large" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonSize="large" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonSize="large" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonForm="round" ngxButtonSize="large" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="info" (click)="click()">info</button>

</section>
<section>

  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="basic" (click)="click()" disabled="true">basic</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="primary" (click)="click()" disabled="true">primary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="secondary" (click)="click()" disabled="true">secondary</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="success" (click)="click()" disabled="true">success</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="danger" (click)="click()" disabled="true">danger</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="warning" (click)="click()" disabled="true">warning</button>
  <button ngx-button ngxButtonForm="square" ngxButtonSize="large" ngxButtonColor="info" (click)="click()" disabled="true">info</button>

</section>
