<app-section size="small" type="basic" form="basic"></app-section>
<app-section size="small" type="basic" form="round"></app-section>
<app-section size="small" type="basic" form="square"></app-section>

<app-section size="small" type="line" form="basic"></app-section>
<app-section size="small" type="line" form="round"></app-section>
<app-section size="small" type="line" form="square"></app-section>

<app-section size="small" type="flat" form="basic"></app-section>
<app-section size="small" type="flat" form="round"></app-section>
<app-section size="small" type="flat" form="square"></app-section>

<app-section size="small" type="raised" form="basic"></app-section>
<app-section size="small" type="raised" form="round"></app-section>
<app-section size="small" type="raised" form="square"></app-section>



<app-section size="normal" type="basic" form="basic"></app-section>
<app-section size="normal" type="basic" form="round"></app-section>
<app-section size="normal" type="basic" form="square"></app-section>

<app-section size="normal" type="line" form="basic"></app-section>
<app-section size="normal" type="line" form="round"></app-section>
<app-section size="normal" type="line" form="square"></app-section>

<app-section size="normal" type="flat" form="basic"></app-section>
<app-section size="normal" type="flat" form="round"></app-section>
<app-section size="normal" type="flat" form="square"></app-section>

<app-section size="normal" type="raised" form="basic"></app-section>
<app-section size="normal" type="raised" form="round"></app-section>
<app-section size="normal" type="raised" form="square"></app-section>



<app-section size="large" type="basic" form="basic"></app-section>
<app-section size="large" type="basic" form="round"></app-section>
<app-section size="large" type="basic" form="square"></app-section>

<app-section size="large" type="line" form="basic"></app-section>
<app-section size="large" type="line" form="round"></app-section>
<app-section size="large" type="line" form="square"></app-section>

<app-section size="large" type="flat" form="basic"></app-section>
<app-section size="large" type="flat" form="round"></app-section>
<app-section size="large" type="flat" form="square"></app-section>

<app-section size="large" type="raised" form="basic"></app-section>
<app-section size="large" type="raised" form="round"></app-section>
<app-section size="large" type="raised" form="square"></app-section>
