
<div class="content">
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="basic" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">basic</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="basic" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">basic</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="primary" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">primary</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="primary" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">primary</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="secondary" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">secondary</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="secondary" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">secondary</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="success" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">success</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="success" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">success</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="accept" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">accept</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="accept" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">accept</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="wait" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">wait</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="wait" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">wait</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="help" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">help</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="help" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">help</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="info" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">info</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="info" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">info</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="warn" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">warn</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="warn" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">warn</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="danger" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">danger</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="danger" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">danger</button>
  </div>
  <div class="row">
    <button (click)="click()" [disabled]="false" ngx-button-color="error" [ngx-button-hover-type]="demo.hover" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">error</button>
    <button (click)="click()" [disabled]="true" ngx-button-color="error" [ngx-button]="demo.custom" [ngx-button-size]="demo.size" [ngx-button-form]="demo.form" [ngx-button-type]="demo.type" [ngx-button-text-color]="demo.text">error</button>
  </div>
</div>