mixin button(color)
  div.row
    button(
      (click)="click()",
      [disabled]="false",
      ngx-button-color=color,
      [ngx-button-hover-type]="demo.hover",
      [ngx-button]="demo.custom",
      [ngx-button-size]="demo.size",
      [ngx-button-form]="demo.form",
      [ngx-button-type]="demo.type")= color
    button(
      (click)="click()",
      [disabled]="true",
      ngx-button-color=color,
      [ngx-button]="demo.custom",
      [ngx-button-size]="demo.size",
      [ngx-button-form]="demo.form",
      [ngx-button-type]="demo.type")= color



div.content

  +button('basic')
  +button('secondary')
  +button('primary')
  +button('success')
  +button('accept')
  +button('wait')
  +button('help')
  +button('info')
  +button('warn')
  +button('danger')
  +button('error')
