<section>

  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="basic" (click)="click()">basic</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="basic" (click)="click()">basic</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="primary" (click)="click()">primary</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="primary" (click)="click()">primary</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="secondary" (click)="click()">secondary</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="secondary" (click)="click()">secondary</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="help" (click)="click()">help</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="help" (click)="click()">help</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="success" (click)="click()">success</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="success" (click)="click()">success</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="wait" (click)="click()">wait</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="wait" (click)="click()">wait</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="accept" (click)="click()">accept</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="accept" (click)="click()">accept</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="info" (click)="click()">info</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="info" (click)="click()">info</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="warn" (click)="click()">warn</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="warn" (click)="click()">warn</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="danger" (click)="click()">danger</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="danger" (click)="click()">danger</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="error" (click)="click()">error</button>
  <button ngx-button [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="error" (click)="click()">error</button>

</section>
<section>

  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="basic" (click)="click()">basic</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="basic" (click)="click()">basic</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="primary" (click)="click()">primary</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="primary" (click)="click()">primary</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="secondary" (click)="click()">secondary</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="secondary" (click)="click()">secondary</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="help" (click)="click()">help</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="help" (click)="click()">help</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="success" (click)="click()">success</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="success" (click)="click()">success</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="wait" (click)="click()">wait</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="wait" (click)="click()">wait</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="accept" (click)="click()">accept</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="accept" (click)="click()">accept</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="info" (click)="click()">info</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="info" (click)="click()">info</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="warn" (click)="click()">warn</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="warn" (click)="click()">warn</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="danger" (click)="click()">danger</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="danger" (click)="click()">danger</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="false" ngx-button-color="error" (click)="click()">error</button>
  <button class="ngx-button-custom" ngx-button="custom" [ngx-button-size]="size" [ngx-button-form]="form" [ngx-button-type]="type" [disabled]="true" ngx-button-color="error" (click)="click()">error</button>

</section>
