<section>

  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="false" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="true" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="false" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="true" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="false" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="true" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="false" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="true" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="false" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="true" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="false" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="true" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="false" ngxButtonColor="info" (click)="click()">info</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [ngxButtonType]="type" [disabled]="true" ngxButtonColor="info" (click)="click()">info</button>

</section>
