<section>

  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [disabled]="disabled" ngxButtonColor="basic" (click)="click()">basic</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [disabled]="disabled" ngxButtonColor="primary" (click)="click()">primary</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [disabled]="disabled" ngxButtonColor="secondary" (click)="click()">secondary</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [disabled]="disabled" ngxButtonColor="success" (click)="click()">success</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [disabled]="disabled" ngxButtonColor="danger" (click)="click()">danger</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [disabled]="disabled" ngxButtonColor="warning" (click)="click()">warning</button>
  <button ngx-button [ngxButtonSize]="size" [ngxButtonForm]="form" [disabled]="disabled" ngxButtonColor="info" (click)="click()">info</button>

</section>
