header

section(size="small", type="basic", form="basic")
section(size="small", type="basic", form="round")
section(size="small", type="basic", form="square")

section(size="small", type="line", form="basic")
section(size="small", type="line", form="round")
section(size="small", type="line", form="square")

section(size="small", type="flat", form="basic")
section(size="small", type="flat", form="round")
section(size="small", type="flat", form="square")

section(size="small", type="raised", form="basic")
section(size="small", type="raised", form="round")
section(size="small", type="raised", form="square")



section(size="normal", type="basic", form="basic")
section(size="normal", type="basic", form="round")
section(size="normal", type="basic", form="square")

section(size="normal", type="line", form="basic")
section(size="normal", type="line", form="round")
section(size="normal", type="line", form="square")

section(size="normal", type="flat", form="basic")
section(size="normal", type="flat", form="round")
section(size="normal", type="flat", form="square")

section(size="normal", type="raised", form="basic")
section(size="normal", type="raised", form="round")
section(size="normal", type="raised", form="square")



section(size="large", type="basic", form="basic")
section(size="large", type="basic", form="round")
section(size="large", type="basic", form="square")

section(size="large", type="line", form="basic")
section(size="large", type="line", form="round")
section(size="large", type="line", form="square")

section(size="large", type="flat", form="basic")
section(size="large", type="flat", form="round")
section(size="large", type="flat", form="square")

section(size="large", type="raised", form="basic")
section(size="large", type="raised", form="round")
section(size="large", type="raised", form="square")
