:root {
  --basic: #dddddd;
  --primary: #3f80ea;
  --secondary: #495057;
  --help: #7040c0;
  --success: #4bbf73;
  --wait: #ffdd44;
  // --accept: ;
  --info: #1f9bcf;
  --warn: #e5a54b;
  --danger: #82322f;
  --error: #d9534f;

  --basic-hover: #dddddd;
  --primary-hover: #1d69e6;
  --secondary-hover: #383d42;
  --help-hover: #6633bb;
  --success-hover: #3ca861;
  --wait-hover: #ffd740;
  // --accept-hover: ;
  --info-hover: #1a82ae;
  --warn-hover: #e0942a;
  --danger-hover: #72221f;
  --error-hover: #d23430;

  --basic-shadow: 0 0 0 3px rgba(0,0,0,.2);
  --primary-shadow: 0 0 0 3px rgba(92,147,237, .5);
  --secondary-shadow: 0 0 0 3px rgba(100,106,112,.5);
  --help-shadow: 0 0 0 3px rgb(128, 80, 208, .5);
  --success-shadow: 0 0 0 3px rgba(102,201,136,.5);
  --wait-shadow: 0 0 0 3px rgb(255, 230, 90, .5);
  // --accept-shadow: 0 0 0 3px ;
  --info-shadow: 0 0 0 3px rgba(65,170,214,.5);
  --warn-shadow: 0 0 0 3px rgba(200,146,70,.5);
  --danger-shadow: 0 0 0 3px rgb(146, 66, 63, .5);
  --error-shadow: 0 0 0 3px rgba(223,109,105,.5);

  --basic-disabled: #dddddd;
  --primary-disabled: #83adf1;
  --secondary-disabled: #898e92;
  --help-disabled: #aa7df3;
  --success-disabled: #8bd6a4;
  --wait-disabled: #ffee90;
  // --accept-disabled: ;
  --info-disabled: #6ebee0;
  --warn-disabled: #eec58b;
  --danger-disabled: #a2524f;
  --error-disabled: #e6908d;

  --button-disabled-defoult: #aaaaaa;
}

button.ngx-button.ngx-button-custom {
  --basic: #b3b3b3;
  --primary: #0080ff;
  --secondary: #4d4d4d;
  --help: #bf00ff;
  --success: #00ff00;
  --wait: #ffff00;
  --accept: #80ff00;
  --info: #0080ff;
  --warn: #ff8000;
  --danger: #ff4000;
  --error: #ff0000;

  --basic-hover: #dddddd;
  --primary-hover: #1d69e6;
  --secondary-hover: #383d42;
  --help-hover: #6633bb;
  --success-hover: #3ca861;
  --wait-hover: #ffd740;
  // --accept-hover: ;
  --info-hover: #1a82ae;
  --warn-hover: #e0942a;
  --danger-hover: #72221f;
  --error-hover: #d23430;

  --basic-shadow: 0 0 0 3px rgba(0,0,0,.2);
  --primary-shadow: 0 0 0 3px rgba(92,147,237, .5);
  --secondary-shadow: 0 0 0 3px rgba(100,106,112,.5);
  --help-shadow: 0 0 0 3px rgb(128, 80, 208, .5);
  --success-shadow: 0 0 0 3px rgba(102,201,136,.5);
  --wait-shadow: 0 0 0 3px rgb(255, 230, 90, .5);
  // --accept-shadow: 0 0 0 3px ;
  --info-shadow: 0 0 0 3px rgba(65,170,214,.5);
  --warn-shadow: 0 0 0 3px rgba(200,146,70,.5);
  --danger-shadow: 0 0 0 3px rgb(146, 66, 63, .5);
  --error-shadow: 0 0 0 3px rgba(223,109,105,.5);

  --basic-disabled: #dddddd;
  --primary-disabled: #83adf1;
  --secondary-disabled: #898e92;
  --help-disabled: #aa7df3;
  --success-disabled: #8bd6a4;
  --wait-disabled: #ffee90;
  // --accept-disabled: ;
  --info-disabled: #6ebee0;
  --warn-disabled: #eec58b;
  --danger-disabled: #a2524f;
  --error-disabled: #e6908d;

  --button-disabled-defoult: #aaaaaa;
}

body {
  font-family: Montserrat, Roboto, sans-serif;
}

.ngx-button {
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  transition: color .15s ease-in-out,
            background-color .15s ease-in-out,
            border-color .15s ease-in-out,
            box-shadow .15s ease-in-out;

  &:hover:not([disabled]) {
    cursor: pointer;
  }

  &-small {
    padding: 2px 8px;
    font-size: 12px;
    line-height: 20px;
  }

  &-normal {
    padding: 4px 12px;
    font-size: 13.5px;
    line-height: 22px;
  }

  &-large {
    padding: 6px 16px;
    font-size: 15px;
    line-height: 24px;
  }

  &-type {

    &-basic {
    }

    &-line {
    }

    &-flat {
    }

    &-raised {
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    }
  }
}
