/* You can add global styles to this file, and also import other style files */
:root {
  --basic: #dddddd;
  --primary: #3f80ea;
  --secondary: #495057;
  --success: #4bbf73;
  --danger: #d9534f;
  --warning: #e5a54b;
  --info: #1f9bcf;

  --basic-hover: #dddddd;
  --primary-hover: #1d69e6;
  --secondary-hover: #383d42;
  --success-hover: #3ca861;
  --danger-hover: #d23430;
  --warning-hover: #e0942a;
  --info-hover: #1a82ae;

  --basic-disabled: #dddddd;
  --primary-disabled: #83adf1;
  --secondary-disabled: #898e92;
  --success-disabled: #8bd6a4;
  --danger-disabled: #e6908d;
  --warning-disabled: #eec58b;
  --info-disabled: #6ebee0;

  --button-disabled-defoult: #aaaaaa;
}

body {
  font-family: Montserrat, Roboto, sans-serif;
}
